//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1160;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$bgColor: #FFFFFF;
$mainColor: rgba(#1F2041, 75%);
$purpleColor: #BC9CFF;
$greenColor: #6FCF97;

$fontFamily: "Montserrat";
$fontSize: 14;

//<ОБНУЛЕНИЯ>===========================================================================================================
@import 'utils/null.scss';
html,
body {
  font-size: $fontSize + px;
  background-color: $bgColor;
  color: $mainColor;
  font-family: $fontFamily;
}

//<ШРИФТЫ>==============================================================================================================
@import 'utils/fonts.scss';

//<ОБОЛОЧКА>============================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
//<ОСНОВНАЯ СЕТКА>======================================================================================================
.container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}
//<ПОДКЛЮЧЕНИЯ>=========================================================================================================
